logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
db.txt
public/spec/lib
test
public/spec
karma.conf.js
README.md
public/javascripts/build.json
public/javascripts/r.js
public/javascripts/lib
!public/javascripts/lib/requirejs/require.js
    
