<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{title}}</a>
			<img style="padding-top:10px;" src="{{logo}}" width="40" height="40">
        </div>
        <div class="collapse navbar-collapse" id="navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/statistics" class="a-nav">Statistics</a></li>
            </ul>
        </div>

    </div>
</nav>