.ng-enter {
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    opacity: 0;
}
.ng-enter-active {
    opacity: 1;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.navbar-inverse {
    background-color: #0089b6;
    border-color: #0089b6;
}
.navbar-inverse .navbar-brand {
    color: white;
}
body { padding-top: 90px; }

#loading-bar-spinner {
  padding-top: 55px;

}

#loading-bar .bar {
  top: 51px;
  background-color: orange;
}

.thead-inverse th {
    color: white;
    background-color: #EA6248;
}