@(artistIMDBid: String)

@main{
    <div class="container" ng-controller="artistController" ng-init="getArtistInfo('@artistIMDBid')" >
        <div class="container container-radius" ng-show="!error && artist">
            <div class="row">
                <div class="col-md-4 header-logo">
                    <img class="img-circle img-thumbnail img-responsive" style="padding:10px;" src="{{getImage(artist,3)}}"  />
                </div>
                <div class="col-md-8 header-title">
                   <h1>{{artist.name}}</h1>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4">
                    <div class="container tag-description">
                        <h3>Tags</h3>
                    <ul style="list-style-type:none;" ng-repeat="tag in artist.tags.tag">
                        <li><div class="tag-min">
                            <a href="{{tag.url}}">{{tag.name}}</a>
                        </div></li>
                    </ul>
                    </div>
               </div>
                <div class="col-md-8">
                    <div class="container artist-description" style="border:1px solid black;">
                         <h3>About artist</h3>
                        <p ng-bind-html="artistDescriptionHtml"></p>
                    </div>
                    <br/>
                    <div class="container rounded-bordered-min">
                        <h4>How many times played? <b>{{artist.stats.playcount}}</b></h4>
                    </div>
                    <br/>
                    <div class="container rounded-bordered-min">
                        <h4>How many listeners? <b>{{artist.stats.listeners}}</b> </h4>
                    </div>
                    <br/>
                    <div class="container rounded-bordered-min" style="background-color:{{isOnTourColor(artist)}}">
                        <h4>On tour right now? <b>{{isOnTourText(artist)}}</b></h4>
                    </div>
                    <br/>
                </div>
            </div>
            <br/>

            <div class="container" style="max-width: 300px;">
                <h2>Similar artists</h2>
                <ul rn-carousel rn-carousel-auto-slide="6" rn-carousel-duration="300" class="carousel" >
                    <li ng-repeat="similar in artist.similar.artist">
                        <img  class="img-thumbnail img-responsive" src="{{ getImage(similar,2) }}" />
                        <h4><a href="{{similar.url}}">{{similar.name}}</a></h4>
                    </li>
                </ul>
            </div>
    </div>
        <div ng-show="error">
            <alert topic="Error occurred!" content="Data is not found. Sorry, try again later!"></alert>
        </div>
        <div ng-show="showNotFoundArtist">
            <alert topic="Artist has not been found!" content="Unfortunately, this artist isn't in out database. "></alert>
        </div>
    </div>

}