@main {
    <div class="container" ng-controller="mainController" ng-init="getTracks()">
    <h1>Top songs in Poland</h1>
    <form name="searchForm" class="form-horizontal">
        <div class="form-group">
          <label for="searchSongInput">Search song</label>
         <input type="text" class="form-control" ng-model="songName" id="searchSongInput" placeholder="Is your favourite song or artist on top lists?">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-click="searchTrack(songName)">Search</button>
        </div>
    </form>
    <br/>
    <table ng-table="tableParams" class="table table-bordered" ng-show="!error && songs.length>0">
   <tbody>
   <tr ng-repeat="song in $data">
    <td data-title="'Number'">{{getCurrentRowIndex(tableParams,$index)}}</td>
    <td data-title="'Song name'" sortable="'name'">{{ song.name }}</td>
       <td data-title="'Artist name'" sortable="'artist.name'"><a href="/artist/{{getArtistIMDBid(song.artist)}}">{{ song.artist.name }}</a></td>
    <td data-title="'Listeners'" sortable="'listeners'">{{ song.listeners }}</td>
    <td data-title="'Image'"><img ng-src="{{getImage(song)}}" class="img-rounded" width="34" height="34"></td>
   </tr>    
   </tbody>
   </table>
   <div ng-show="error">
        <alert topic="Error occurred!" content="Data is not found. Sorry, try again later!"></alert>
    </div>
    <div ng-show="showNotFoundSongs">
        <alert topic="No songs have been found!" content="Unfortunately, there are no songs to display. Try again."></alert>
    </div>
    </div>
}
